<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="Database" connectionString="Data Source=DESKTOP-C610LB4\SQLEXPRESS; database = EmployeeSampleApp; integrated security = true;" />
    <add name="EmployeesSampleApp.Properties.Settings.EmployeeSampleAppConnectionString"
        connectionString="Data Source=DESKTOP-C610LB4\SQLEXPRESS;Initial Catalog=EmployeeSampleApp;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>